:root {
    --white: #fff;
    --Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}


body {
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
} */

#root,
#__next {
    isolation: isolate;
}

body {
    font-family: "Manrope", sans-serif;
    background: hsl(210, 46%, 95%);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 87.2%;
    max-width: 730px;
    margin: 0 auto
}

.hero__container {
    border-top-right-radius: .625rem;
    border-top-left-radius: .625rem;
    border-bottom-left-radius: .625rem;
    border-bottom-right-radius: .625rem;
    box-shadow: 0 .02rem .1rem .02rem var(--Dark-Blue);
}

.hidden {
    display: none;
}

/* Font -- Typography */

.art__title--font {
    font-size: 1.25rem;
    font-weight: 900;
    line-height: 130%;
    letter-spacing: .25%;
    color: var(--Dark-Grayish-Blue);
    text-wrap: stable;
}

.text__font {
    font-size: .8125rem;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: .12%;
    color: var(--Dark-Grayish-Blue)
}

.art__owner--title {
    text-wrap: nowrap;
    font-weight: 900;
}

.text__font--clr {
    color: var(--Grayish-Blue);
}

/*Other Styles*/


.art__img--style {
    width: 100%;
    height: max(50vw, 12.5rem);
    object-fit: cover;
    object-position: center -1rem;
    margin-bottom: 2rem;
    border-top-right-radius: .625rem;
    border-top-left-radius: .625rem;

}

.art__description {
    /* padding: 0 1.875rem 1.125rem; */
    padding: 0 0 1.125rem;
    border-bottom-left-radius: .625rem;
    border-bottom-right-radius: .625rem;
}

.art__description--padding {
    padding-inline: 1.875rem;
}

.art__title {
    margin-bottom: 1.5rem;
}

.flex {
    display: flex;
    align-items: center;
}

.art__owner--connect {
    margin: 3rem 0 0;
    padding-inline: 1.875rem;
    justify-content: space-between;
}

.img__size {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

.art__owner--grp {
    gap: 1rem;
}


.btn {
    width: 2rem;
    height: 2rem;
    border: none;
    background: none;
    /* border-radius: 50%; */
}

.btn__grp {
    gap: 4rem;
}

.btn__grp--social {
    align-self: flex-start;
    background: var(--Dark-Grayish-Blue);
    border-radius: .625rem;
    gap: 1rem;
}


.triangle {
    width: 0;
    height: 0;
    border-left: .8rem solid transparent;
    border-right: .8rem solid transparent;
    border-top: .8rem solid var(--Dark-Grayish-Blue);
    position: relative;
    left: 112px;
}

.btn__share {
    background: var(--Grayish-Blue);
    border: none;
    border-radius: 50%;
}

.icon__share {
    margin: 0 auto;
    position: relative;
    z-index: 2;
}


.attribution {
    font-size: .6875rem;
    text-align: center;
    margin-top: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media (min-width: 48rem) {

    .hero__container {
        box-shadow: none;
        border-radius: 0;
    }

    .art__container {
        width: 38rem;
        margin: 0 auto;
    }

    .flex__lg--screen {
        display: flex;
        justify-content: center;
        align-items: center;
        /* gap: 2rem; */
    }

    .art__img {
        position: relative;

    }

    .art__img--style {
        position: relative;
        right: 40px;
        height: 21.625rem;
        width: 14.3125rem;
        margin-bottom: 0;
        object-fit: fill;
        object-position: left 2.55rem top 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: .625rem;

    }

    .art__description {
        position: relative;
        right: 40px;
        width: 19.4375rem;
        padding: 0;
        align-self: center;
        margin-left: 2rem;
    }

    .art__description--padding {
        padding-inline: 0;
    }

    .art__owner--connect {
        margin: 1.5rem 0 0;
        padding-inline: 0;
    }

}


@media (min-width: 62rem) {
    .art__container {
        width: 100%;
    }

    .art__img--style {
        right: 48px;
        width: 17.8125rem;
        height: 17.5rem;
        object-position: left 3.15rem top 0;
    }

    .art__description {
        right: 48px;
        width: 22.8125rem;
        margin-left: 2.5rem;
    }

}